<div class="mission-container">
  <div class="input-container">
    <input class="search_input" type="text" [(ngModel)]="selectedYear" (keyup)="getYear()" placeholder="Enter launch year">
  </div>

  <div class="card-container">
    <div class="card" *ngFor="let mission of missions">
      <img [src]="mission.links.mission_patch_small" alt="Mission Patch" class="card-img-left">
      <div class="card-info">
        <h2 class="card-title">{{ mission.mission_name }}</h2>
        <p class="card-text"><strong>Launch year:</strong> {{ mission.launch_year }}</p>
        <p class="card-text"><strong>Details:</strong> {{ mission.details }}</p>
        <a class="btn btn-primary" [routerLink]="['/details/' + mission.flight_number]">View Details</a>
      </div>
    </div>
  </div>
</div>
